@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    user-select: none;
  }
}
